# Auto detect text files and perform LF normalization
* text=auto

# Distribution exclusions (not shipped with composer install)
/.github export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpstan.neon export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/testbench.yaml export-ignore
/CHANGELOG.md export-ignore
/.editorconfig export-ignore
